
.formDiv {
    display: flex;
    flex-direction: column;
    border: black solid 1px;
    margin: 4em;
    height: 25em;
    width: 14em;
    border-radius: 5px;
}

input {
    margin: 1em;
    height: 2em;
    width: 15em;
    text-indent: 1em;
    border: 1px solid #444;
    border-radius: 5px;
    display: block;
}
.formLabels {
    margin-left: 1em;
}
.formAndGuessesContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sendButton {
    appearance: button;
    background-color: #000;
    background-image: none;
    border: 1px solid #000;
    border-radius: 4px;
    box-shadow: #fff 4px 4px 0 0, #000 4px 4px 0 1px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 1em;
    overflow: visible;
    padding: 12px 40px;
    text-align: center;
    text-transform: none;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

.sendButton:focus {
    text-decoration: none;
}

.sendButton:hover {
    text-decoration: none;
}

.sendButton:active {
    box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
    outline: 0;
}

.sendButton:not([disabled]):active {
    box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
    transform: translate(2px, 2px);
}