.guessCard {
    border: 2px solid rgb(121, 186, 156);
    height: 18.5em;
    width: 20em;
    margin: .5em;
    border-radius: 5px;
    padding: .5em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    box-shadow: 0 0 10px rgb(75, 115, 109);
}

.guessHolder {
    display: flex;
    flex-direction: column;
    width: 40em;
    overflow: scroll;
    height: 30em;
    width: 35em;
    margin-top: 2em;
    border-radius: 5px;
    align-items: center;

}
.inputFields{
    font-family: Arial, Helvetica, sans-serif;
    margin: 1em;
    
}

 .set1openerDiv, .set2openerDiv, .bustoutDiv, .coverDiv, .encoreDiv {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-right: 0em;
    margin-bottom: 0em;
  

}

.checkbox {
    margin-left: 0;
}

.firstNameDiv {
    margin-bottom: .5em;
}


@media screen and (min-width: 320px) and (max-width: 479px) {

    .formGuessDiv {
        display: flex;
        margin-top: 2em;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .guessCard {
        margin-right: 30%;
    }



}